<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnError="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <html outputDirectory="./covers/suzunone/JapaneseDate"/>
      <text outputFile="./covers/coverage" showUncoveredFiles="true" showOnlySummary="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Suzunone\JapaneseDate">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
  </php>
  <logging>
    <testdoxText outputFile="php://stdout"/>
  </logging>
</phpunit>
